# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Large media files
*.aivu
*.braw
*.mov
*.mp4

# Resources folder (large media assets)
Resources/

# macOS
.DS_Store
.AppleDouble
.LSOverride
